body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    /*background-color: #330102;*/
    background-color: #f9484a;
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    top: 10%;
    width: 360px;
    height: 640px;
    background-color: rgba(0, 0, 0, .1);
    transform: rotate(-30deg) skew(30deg) scale(0.8);
}

.card img {
    position: absolute;
    width: 100%;
    transition: .5s;
}

.card:hover img:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}

.card:hover img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: .8;
}

.card:hover img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: .6;
}

.card:hover img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: .4;
}
